/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-apr-2016, 8.58.16
    Author     : ASSO
*/

*{
    
    color:black;
    font-family:Comic Sans, Georgia, Serif;
    border-width:2px;
   border-color:blueviolet;
   list-style-type:none;
  }
  body{
      background-color:lavender;
  }
   h1{
       position:relative;
       color:slateblue;
       font-size:3.5em;
       font-style:italic;
       font-weight:bold;
        text-align:center;
        top:1px;
   }
        @media only screen and (min-width: 1024px){
        h1::before{
            content: url('imm/homer.png');
        }
        }
        nav{
            text-align:center;
            font-weight:bold;
            font-size:1.5em;
            word-spacing:40px;
           
            height:10px;
        }
        h2{
            color:slateblue;
            font-size:2.5em;
            font-weight:bold;
        }
        h3{
            color:slateblue;
            font-size:1.5em;
            }
        a:link{
                color:blue;
                text-decoration:none;
            }
        a:visited{
                color:blueviolet;
                text-decoration:none;
               }
        a:hover{
                   text-decoration:underline;
               }
               
             
               .header{
                   position: absolute;
                   width:100%;
                   height:180px;
                   
               
                  padding-bottom:40px;
                
               } 
              @media only screen and (min-width: 480px){
              .sidebar{
                   position:absolute;
                   width:20%;
                   height:100%;
                   top:242px;
                  
                  text-align:left;
                   border-style:solid;
                   border-bottom:none;
                   border-left-color:transparent;
                   
              }
               }
               
                @media only screen and (max-width: 480px) {
                   .sidebar{
                       display:none;
                   }
                   .content{
                       position:relative;
                      width: 100%;
                       top:222px;
                       padding-top:20px;
                       margin:20px;
                     text-align:center;
                   } }
                @media only screen and (min-width: 480px){
               .content{
                   position:relative;
                   width:70%;
                   
                   top:222px;
                   left:252px;
                   
                   margin:20px;
                   margin-right:50px;
                   border-style:solid;
                   border-right:none;
                   border-bottom:none;
                  
                   padding:20px;
               }
               }
               
               input:focus{
                   border-style:solid;
                   border-color:blue;
               }
          
           #pss{
                   padding-right:45px;
               }
               
              
               .form{
                   position:relative;
                   top:270px;
                   text-align: center;
                   border-style:solid;
                   border-left:none;
                   border-right:none;
                   border-bottom:none;
                   
               }
               .log{
                   display:block;
               }  
               label{
                   color:slateblue;
                   font-size:1.1em;
                   font-weight:bold;
                   display:block;
               }
              
               label::after, label::before {
               content: '\A';
               white-space: pre;
               }
            
               button{
                color:slateblue;
                   font-weight:bold;
                   font-size:1.1em;
               }
            
               
           
           button:hover{
           background-color:lightblue;
           }
     
           #tabella{
           
               background-color:lavender;
                border-collapse:collapse;
           }
           th{
               font-size:1.2em;
               color:blueviolet;
               padding-bottom:30px;
                padding:10px;
              border-style:solid;
            }
            td{
                   border-style:solid;
                 
            }
               tr{
                background-color:lightblue;
                
                text-align:center;
                }
                
                .tit{
                    font-style: italic;
                     font-weight:bold;
                }
        
                
           .disp {
                background-color:lavender;
            }       
            
            